input{
    padding: 10px 15px;
    border: 1px solid #FF7004;
    outline: none;
    background: transparent;
    color: #ffffff;
}
.realinput{
    padding: 10px 15px;
    border: 1px solid #EBEBEB;
    outline: none;
    background: transparent;
    color: #000000;
}
.realinput:focus{
    border: 1px solid #FF7004;
}