button {
  transition: 1s;
  position: relative;
  display: flex;
  /* display: inline-block; */
  justify-content: center;
  z-index: 1;
}
button span {
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  background: #FF7004;
  z-index: -1;
  transition: all 1s;
  border-radius: 5px;
}
button:hover span {
  width: 100%;
}
button:hover {
    color: #ffffff;
  }
  